/* Global */

*, *::before, *::after {
  box-sizing: border-box;
}
  
body {
  margin: 0;
  background: $color-light;
  font-size: 14px;
  line-height: 1.7;
  //font-weight: $font-regular;
  color: $color-dark;
}
  
   
// ustalić wygląd całego body 
// powtarzające się elementy: buttony, listy
