/* About us */
.about-us-wrapper {
  height: 480px;
  width: 100%;
  background: rgba(0, 0, 0, 0.6) url('../images/about-us.jpg');
  background-blend-mode: darken;
  object-fit: cover;  
}

.about-us-header {
  height: 100px;
  margin-top: 30px;
}

.about-us-content p {
  color: $color-light;
  font-weight: $font-semibold;
  font-style: italic;
  font-size: 18px;
  text-align: justify;
  margin-left: 30%;
  line-height: 1.4;
  padding-top: 25px;   
}

.join {  
  margin-right: 30%;
  text-align-last: right;
}

@media (min-width: 570px) and (max-width: 760px) {
  .about-us-content p {
    font-size: 15px;
    margin-left: 10%;
    padding-top: 10px;
  }
}  

@media (max-width: 512px) {
  .about-us-content p {
    font-size: 14px;
    margin-left: 20px;
    padding-top: 15px;
  }
}