* {
  font-family: $font-text;
}

h1 {
  color: $color-main;
  font-size: 44px;
  text-transform: uppercase;
  letter-spacing: 8px;
  position: relative;
}

h2 {
  color: $color-main;
  text-transform: uppercase;
  position: relative;
  font-size: 36px;
  letter-spacing: 5px;
  padding-top: 25px;
  padding-bottom: 10px;
  
  &:after {
    position: absolute;
    content: "";
    bottom: -10px;
    left: 50%;
    width: 360px;
    height: 4px;
    transform: translateX(-50%);
    background: $color-main;
  }
}

h3 {
  color: $color-dark;
  text-transform: uppercase;
}

h4 {
  color: $color-light;
  position: relative;
}

h5 {
  color: $color-dark;
  position: relative;
}

h6 {
  color: $color-dark;
} 

p {
  color: $color-dark;
  font-size: 16px;
}

i {
  color: $color-light;
  position: relative;
}
